@*<div class="jumbotron" ng-app="app" ng-controller="BeerCtrl">*@
<div class="jumbotron" ng-app="app" ng-controller="app.beers.BeersController as vm">
    @*{{model | json}}*@
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Colour</th>
                <th>Has Tried</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="beer in vm.Beers">
                <td>{{beer.Name}}</td>
                <td>{{beer.Colour}}</td>
                @*<td>{{beer.HasTried}}</td>*@
                <td>
                    <input type="checkbox" ng-model="beer.HasTried" />
                </td>
            </tr>
            <tr ng-if="vm.model.Beers.length==0">
                <td colspan="4" class="text-center">There are no beers to display</td>
            </tr>
            <tr ng-if="vm.showBeer">
                <td>
                    <input type="text" class="form-control" placeholder="Name" ng-model="vm.newBeer.Name" />
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Colour" ng-model="vm.newBeer.Colour" />
                </td>
                <td>
                    <input type="checkbox" ng-model="vm.newBeer.HasTried" />Have Tried
                </td>
                <td>
                    <button type="button" class="btn btn-primary ladda-button" ng-click="vm.addBeer(vm.newBeer)" loading-button data-style="expand-left" spin="states.isAdding">Add</button>
                    <button type="button" class="btn btn-default" ng-click="vm.showBeerForm(false)">Cancel</button>
                </td>
            </tr>
            <tr>
                <td colspan="4">====={{vm.newBeer}}&&&&&&&&&&&&</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" ng-click="vm.showBeerForm(true)">Add Beer</a>
</div>